<div *ngIf="loading" style="height: 300px;" class="uk-flex uk-flex-center uk-flex-middle">
        <mat-spinner></mat-spinner>
    </div>
    

<mat-card *ngIf="!loading">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary"  (click)="productDetail({},-1)">Tambah Tugas Baru</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>                
                <th>No</th>
                <th>Mata Kuliah</th>
                <th>Nama Dosen</th>
                <th>Tugas Yang Diberi</th>
                <th>Tanggal Kumpul</th>
                <th>Catatan</th>
                <th align="right">#</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of projects; let idx=index">
                    <td>{{idx+1}}</td>
                    <td>{{item.matakuliah}}</td>
                    <td>{{item.namadosen}}</td>
                    <td>{{item.tugasyangdiberi}}</td>
                    <td>{{item.tanggalkumpul | date:'dd MMMM yyy '}}</td>
                    <td>{{item.catatan}}</td>
                    <td align="right">
                        
                        <button mat-button color="primary" (click)=" productDetail(item,idx)">Edit</button>
                        <button mat-button color="warn" (click)="deleteProducts(item.id, idx)"[disabled]="loadingDelete[idx]">{{loadingDelete[idx] ? 'Menghapus..':'Delete'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>
