<h3 mat-dialog-title>
    Tuliskan tugasmu
 </h3>
 <div mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Mata kuliah</mat-label>
        <input matInput [(ngModel)]="data.matakuliah">      
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Nama Dosen</mat-label>
        <input matInput [(ngModel)]="data.namadosen" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Tugas Yang Diberi</mat-label>
        <input matInput [(ngModel)]="data.tugasyangdiberi" >     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Tanggal Kumpul</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data.tanggalkumpul">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Catatan</mat-label>
        <input matInput [(ngModel)]="data.catatan">      
    </mat-form-field>
 </div>
 <div mat-dialog-actions align="end">
 <button mat-button mat-dialog-close>Batal</button>
 <button mat-flat-button (click)="saveData()" [disabled]="loading">{{loading ? 'Menyimpan..':'Simpan'}} </button>
 </div>

